<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travel Planner</title>
    </head>

    <body>

        <header>
            <div class="headerTitle">
                <h1>Travel Planner</h1>
            </div>
        </header>

        <main class="main">
            
            <section class="formSection">
                <form class="travelPlace">
                    <label>What city do you want to travel to?</label>
                    <input id="city" type="text" name="input" value="" placeholder="City">
                    <label>When do you want to go?</label>
                    <input id="date" type="date" name="input" value="2020-01-01" min="2020-01-01" max="2020-12-31">
                    <input class="formSubmit" type="submit" value="submit">
                </form>
            </section>

            <section class="resultsSection">
                <p><strong>Let's see how the weather will be:</strong></p>
                <div><h2 id="results"></h2></div>
            </section>
        </main>

        <footer>
            <p>Breno Barreto | Travel Planner</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
