.formSection{
    width: 80%;
}

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 30px;
}

input {
    padding: 5px 20px;
    width: 80%;
    line-height: 16px;
    margin: 10px 20px;
}

label{
    margin-top: 25px;
}

label, input{
    display: block;    
}

[type="submit"]{
    margin-top: 30px;
    cursor: pointer;
    width: 40%;
    background-color: #142032;
    color: #fff;
    border: 0;
    border-radius: 5px;

    &:hover{
        background-color: lighten(#142032, 10%);
    }
}

#results{
    margin: 20px 0;
}